.hero {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/1af41ff1-16cc-487d-aab8-bcb225b63907.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Altura completa de la pantalla */
  color: white;

}